<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring - Form KH</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Thông tin KH</h2>
    <div>
        <form class="form-horizontal" th:object="${customer}" th:action="@{/customer}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tên:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Họ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sđt:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Địa chỉ 1:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{billingAddress.addressLine1}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Địa chỉ 2</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{billingAddress.addressLine2}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{billingAddress.city}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tỉnh:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{billingAddress.state}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zip Code:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{billingAddress.zipCode}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Đăng ký</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>